version: "3.8"
services: 
    mysql_1:
        image: "mysql:latest"
        ports:
            - "3306:3306"
        restart: always
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
            MYSQL_DATABASE: PokemonDB
    
    mypokemonserver:
        build: .
        depends_on: 
            - mysql_1
        ports:
            - "5003:5003"
